<ul>
  <% @spaces.each do |space| %>
    <li class="space" id="<%=space.id%>">
      <h2><%=space.name%></h2>
      <br>
      <%=space.description%>
      <br>
      <%="£#{space.price} per night" %>
      <br>
      <form action="/bookings/new" method="POST">
        <input type="hidden" value="<%=space.id%>" name="requested_space_id"></input>
        <input type="submit" value="Request Space" id="request_space"></input>
      </form>
    </li>
  <% end %>
</ul>

<form method="get" action="/spaces/new">
  <input type="submit" id="make_new_space" value="Make New Space">
</form>
