<% if @user %>
  <p><%="Hello, #{@user.name}!"%></p>
  <form action="/sign_out" method="post">
    <input type="submit" value="Log Out">
  </form>
<% else %>
  <p>Please sign in...</p>
  <form action="/sign_in" method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="Log In">
  </form>
    <p>or...</p>
  <form action="/signup" method="get">
      <input type="submit" value="Sign Up">
    </form>
<% end %>

<% if @requested_spaces %>
  <p>You Have Requested: 
<ul>
  <% @requested_spaces.each do |space| %>
    <li class="space" id="<%=space.id%>">
      <h2><%=space.name%></h2>
      <br>
      <%=space.description%>
      <br>
      <%="£#{space.price} per night" %>
      <br>
    </li>
  <% end %>
</ul>
<%end%>